In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np

In [3]:
#reading dataset
df = pd.read_csv("jokes-data.csv")

In [4]:
df

                id  user_id  joke_id  Rating
0        31030_110    31030      110   2.750
1        16144_109    16144      109   5.094
2          23098_6    23098        6  -6.438
3         14273_86    14273       86   4.406
4        18419_134    18419      134   9.375
...            ...      ...      ...     ...
1092054   9517_132     9517      132   3.156
1092055  27767_118    27767      118  -1.594
1092056   10580_81    10580       81   2.000
1092057  31007_119    31007      119   8.906
1092058    8420_98     8420       98  -3.344

[1092059 rows x 4 columns]

In [5]:
df.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [6]:
df.tail()

                id  user_id  joke_id  Rating
1092054   9517_132     9517      132   3.156
1092055  27767_118    27767      118  -1.594
1092056   10580_81    10580       81   2.000
1092057  31007_119    31007      119   8.906
1092058    8420_98     8420       98  -3.344

In [7]:
df.columns

Index(['id', 'user_id', 'joke_id', 'Rating'], dtype='object')

In [8]:
df.shape

(1092059, 4)

In [9]:
#checking for missing values
df.isnull().sum()

id         0
user_id    0
joke_id    0
Rating     0
dtype: int64

In [11]:
#checking no of unique values
df['user_id'].nunique()

40863

In [12]:
df['id'].nunique()

1092059

In [13]:
df['joke_id'].nunique()

139

In [14]:
df['Rating'].nunique()

641

In [15]:
#removing the feature "id"
df = df.drop("id", axis=1)

In [16]:
df

         user_id  joke_id  Rating
0          31030      110   2.750
1          16144      109   5.094
2          23098        6  -6.438
3          14273       86   4.406
4          18419      134   9.375
...          ...      ...     ...
1092054     9517      132   3.156
1092055    27767      118  -1.594
1092056    10580       81   2.000
1092057    31007      119   8.906
1092058     8420       98  -3.344

[1092059 rows x 3 columns]

In [17]:
!pip install surprise

Collecting surprise
  Using cached surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Requirement already satisfied: scikit-surprise in c:\users\user\anaconda3\lib\site-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\user\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.7.3)
Installing collected packages: surprise
Successfully installed surprise-0.1

In [21]:

from surprise import Reader, Dataset, KNNBasic, SVD

In [22]:
reader = Reader()

In [23]:
#create a the dataset to be used for building the filter
data = Dataset.load_from_df(df, reader)

In [24]:
data

In [25]:
algo = KNNBasic()

In [33]:

from surprise.model_selection import cross_validate

In [37]:
results = cross_validate(algo, data, measures=["RMSE", "MAE"], cv=5, verbose=True)

# Print the results
for measure in ["RMSE", "MAE"]:
    if 'test_' + measure in results:
        avg_score = sum(results['test_' + measure]) / len(results['test_' + measure])
        print(f"{measure}: {avg_score}")
    else:
        print(f"No {measure} scores available.")

Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.7189  4.7045  4.7020  4.6992  4.7002  4.7050  0.0072
MAE (testset)     3.6777  3.6619  3.6593  3.6577  3.6574  3.6628  0.0076
Fit time          2.56    2.69    2.93    3.23    2.51    2.78    0.27
Test time         11.76   13.00   12.88   11.84   12.09   12.31   0.53
No RMSE scores available.
No MAE scores available.

In [35]:
algo2 = SVD()

In [36]:
cross_validate(algo2, data, measures = ["RMSE"], cv = 5, verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.6701  4.6558  4.6497  4.6625  4.6648  4.6606  0.0071
Fit time          10.62   10.69   10.66   10.61   10.60   10.63   0.04
Test time         2.34    1.91    1.96    1.56    1.91    1.94    0.25

{'test_rmse': array([4.67012244, 4.65580865, 4.64972458, 4.66250106, 4.66480163]),
 'fit_time': (10.616841077804565,
  10.68786072731018,
  10.662027835845947,
  10.605141401290894,
  10.59543514251709),
 'test_time': (2.3406827449798584,
  1.911212682723999,
  1.9632542133331299,
  1.5637056827545166,
  1.9115827083587646)}